*{
    margin: 0;
    padding: 0;
}

main{
    display:flex;
    justify-content: center;
    
}
.container {
    width: 400px;
    padding: 20px;
} 

.caja {
	padding:20px 10px;
	text-align: center;
	margin: 10px 0;
	/*background: #226fc1;*/
	background: #000;
	font-size:24px;
	color: #fff
}

.naranja {background: #f9a03f;}



/* 
.inputCalc{
    font-size: 1rem;
    text-align: center;
    width: 30%;
    margin-top: 10%;
    padding: 1rem;
}
input{
    margin: 1%;
    font-size: 2rem;
    text-align: center;
    overflow: hidden;
}
#result{
    border-style: solid;
    border-color: red;
}
#result-box{
    visibility:hidden;
} */